.custom-card-paper {
  .title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 16px 0 16px;
  }

  .desc {
    line-height: 1em !important;
    padding: 16px 20px 10px 16px;
  }
}
